ADF/pipeline/Flights.json
{
	"name": "Flights",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Flights",
						"type": "DatasetReference"
					},
					"fieldList": [
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy flights",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlServerSink",
									"tableOption": "autoCreate"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "YEAR",
												"type": "String"
											},
											"sink": {
												"name": "YEAR",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "MONTH",
												"type": "String"
											},
											"sink": {
												"name": "MONTH",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "DAY",
												"type": "String"
											},
											"sink": {
												"name": "DAY",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "DAY_OF_WEEK",
												"type": "String"
											},
											"sink": {
												"name": "DAY_OF_WEEK",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "AIRLINE",
												"type": "String"
											},
											"sink": {
												"name": "AIRLINE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "FLIGHT_NUMBER",
												"type": "String"
											},
											"sink": {
												"name": "FLIGHT_NUMBER",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "TAIL_NUMBER",
												"type": "String"
											},
											"sink": {
												"name": "TAIL_NUMBER",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ORIGIN_AIRPORT",
												"type": "String"
											},
											"sink": {
												"name": "ORIGIN_AIRPORT",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DESTINATION_AIRPORT",
												"type": "String"
											},
											"sink": {
												"name": "DESTINATION_AIRPORT",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "SCHEDULED_DEPARTURE",
												"type": "String"
											},
											"sink": {
												"name": "SCHEDULED_DEPARTURE",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "DEPARTURE_TIME",
												"type": "String"
											},
											"sink": {
												"name": "DEPARTURE_TIME",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "DEPARTURE_DELAY",
												"type": "String"
											},
											"sink": {
												"name": "DEPARTURE_DELAY",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "TAXI_OUT",
												"type": "String"
											},
											"sink": {
												"name": "TAXI_OUT",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "WHEELS_OFF",
												"type": "String"
											},
											"sink": {
												"name": "WHEELS_OFF",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "SCHEDULED_TIME",
												"type": "String"
											},
											"sink": {
												"name": "SCHEDULED_TIME",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "ELAPSED_TIME",
												"type": "String"
											},
											"sink": {
												"name": "ELAPSED_TIME",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "AIR_TIME",
												"type": "String"
											},
											"sink": {
												"name": "AIR_TIME",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "DISTANCE",
												"type": "String"
											},
											"sink": {
												"name": "DISTANCE",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "WHEELS_ON",
												"type": "String"
											},
											"sink": {
												"name": "WHEELS_ON",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "TAXI_IN",
												"type": "String"
											},
											"sink": {
												"name": "TAXI_IN",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "SCHEDULED_ARRIVAL",
												"type": "String"
											},
											"sink": {
												"name": "SCHEDULED_ARRIVAL",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "ARRIVAL_TIME",
												"type": "String"
											},
											"sink": {
												"name": "ARRIVAL_TIME",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "ARRIVAL_DELAY",
												"type": "String"
											},
											"sink": {
												"name": "ARRIVAL_DELAY",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "DIVERTED",
												"type": "String"
											},
											"sink": {
												"name": "DIVERTED",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"name": "CANCELLED",
												"type": "String"
											},
											"sink": {
												"name": "CANCELLED",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"name": "CANCELLATION_REASON",
												"type": "String"
											},
											"sink": {
												"name": "CANCELLATION_REASON",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "AIR_SYSTEM_DELAY",
												"type": "String"
											},
											"sink": {
												"name": "AIR_SYSTEM_DELAY",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "SECURITY_DELAY",
												"type": "String"
											},
											"sink": {
												"name": "SECURITY_DELAY",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "AIRLINE_DELAY",
												"type": "String"
											},
											"sink": {
												"name": "AIRLINE_DELAY",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "LATE_AIRCRAFT_DELAY",
												"type": "String"
											},
											"sink": {
												"name": "LATE_AIRCRAFT_DELAY",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "WEATHER_DELAY",
												"type": "String"
											},
											"sink": {
												"name": "WEATHER_DELAY",
												"type": "Int32"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "Flights",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "SqlServerFlights",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}